<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scout Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="static/css/pico.classless.min.css">

  <script src="static/js/htmx.min.js"></script>
</head>
<body>
<header>
  <h1>Troop 77</h1>
</header>

<main>

    {{if .}}
      <h2 data-field="name">{{.Name}}</h2>

      <table id="event-details-table" data-testid="event-details-table">

        <tr>
          <td>Date</td>
          <td data-field="start-and-end-times">{{.StartTime.Format "2006-01-02 3:04 PM"}} - {{.EndTime.Format "2006-01-02 3:04 PM"}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td data-field="event-location">{{.EventLocation}}</td>
        </tr>
        <tr>
          <td>Summary</td>
          <td data-field="summary">{{.Summary}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td data-field="description">{{.Description}}</td>
        </tr>
        <tr>
          <td>Assembly Location</td>
          <td data-field="assembly-location">{{.AssemblyLocation}}</td>
        </tr>
        <tr>
          <td>Pickup Location</td>
          <td data-field="pickup-location">{{.PickupLocation}}</td>
        </tr>

      </table>
    {{else}}
      <h3>Event not found</h3>
    {{end}}

</main>

</body>
</html>
