<h2>Upcoming Events</h2>
<table id="events-table" data-testid="events-table">
  <tr>
    <td>Date</td>
    <td>Event</td>
    <td>Summary</td>
    <td>Location</td>
  </tr>
  {{#.}}
  <tr>
    <td>{{startDate}}</td>
    <td>{{name}}</td>
    <td>{{summary}}</td>
    <td>{{eventLocation}}</td>
  </tr>
  {{/.}}
</table>
